In [2]:
#We use statistics in a lot of different ways in data science, and on this lecture
#Refresh the knowledge of hypothesis testing
#The goal of hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
#have resulted in different impacts

#Let's import our usual numpy and pandas libraries
import numpy as np
import pandas as pd

#Now let's bring in some new libraries from scipy
from scipy import stats

#Let's see an axample of this; we're going to use some grade data
df=pd.read_csv('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [4]:
early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [5]:
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [6]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [7]:
#Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

#Let's run this fucntion with our two populations, looking at the assignment 1 grades
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [8]:
#Why don't we check the other asignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [10]:
#Let's see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.760512,0.323673,0.962862,0.283688,0.148889,0.171829,0.114984,0.052327,0.413609,0.626415,...,0.654233,0.751505,0.010319,0.866060,0.035828,0.700256,0.603022,0.323808,0.671453,0.487189
1,0.260906,0.280526,0.369102,0.413145,0.427796,0.334462,0.450670,0.767434,0.168029,0.575110,...,0.726547,0.972696,0.629406,0.276823,0.914369,0.561273,0.283937,0.914586,0.081524,0.349033
2,0.427102,0.723574,0.410606,0.449056,0.259413,0.092197,0.961362,0.366911,0.503337,0.156402,...,0.022181,0.299255,0.454646,0.383983,0.378913,0.946931,0.655458,0.368694,0.763524,0.882744
3,0.022787,0.911229,0.542368,0.041472,0.006610,0.461519,0.530809,0.483083,0.905219,0.836651,...,0.011505,0.095635,0.477469,0.139975,0.367860,0.345949,0.205561,0.755126,0.075340,0.780435
4,0.793648,0.480801,0.681378,0.792793,0.458810,0.487270,0.702016,0.467590,0.548272,0.495736,...,0.318567,0.411307,0.984078,0.987504,0.993021,0.978390,0.579538,0.769205,0.308531,0.617018

In [12]:
#Ok, let's create a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [14]:
#Let's write this in a fuction called test_columns
def test_columns(alpha=0.1):
    num_diff=0
    for col in df1.columns:
        teststat,pval=ttest_ind(df1[col],df2[col])
        if pval<=alpha:
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))
    
test_columns()

Col 17 is statistically significantly different at alpha=0.1, pval=0.05490054222943192
Col 18 is statistically significantly different at alpha=0.1, pval=0.0853678941350557
Col 28 is statistically significantly different at alpha=0.1, pval=0.07116259889869196
Col 46 is statistically significantly different at alpha=0.1, pval=0.04769679942663894
Col 48 is statistically significantly different at alpha=0.1, pval=0.04006102710256737
Col 50 is statistically significantly different at alpha=0.1, pval=0.014295928405025683
Col 55 is statistically significantly different at alpha=0.1, pval=0.07961872333662742
Col 64 is statistically significantly different at alpha=0.1, pval=0.05072689818137229
Col 80 is statistically significantly different at alpha=0.1, pval=0.03870915624301147
Col 81 is statistically significantly different at alpha=0.1, pval=0.019635192754425955
Col 85 is statistically significantly different at alpha=0.1, pval=0.06826327424320641
Total number different was 11, which is 11.0%

In [16]:
test_columns(0.05)

Col 46 is statistically significantly different at alpha=0.05, pval=0.04769679942663894
Col 48 is statistically significantly different at alpha=0.05, pval=0.04006102710256737
Col 50 is statistically significantly different at alpha=0.05, pval=0.014295928405025683
Col 80 is statistically significantly different at alpha=0.05, pval=0.03870915624301147
Col 81 is statistically significantly different at alpha=0.05, pval=0.019635192754425955
Total number different was 5, which is 5.0%

In [17]:
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=2.8359063474110376e-06
Col 1 is statistically significantly different at alpha=0.1, pval=3.118099556398223e-06
Col 2 is statistically significantly different at alpha=0.1, pval=0.003196390528479152
Col 3 is statistically significantly different at alpha=0.1, pval=0.0009255693133413374
Col 4 is statistically significantly different at alpha=0.1, pval=0.014726714453919416
Col 5 is statistically significantly different at alpha=0.1, pval=0.0013243430588624962
Col 6 is statistically significantly different at alpha=0.1, pval=0.001235594281719654
Col 7 is statistically significantly different at alpha=0.1, pval=0.00018081327001404548
Col 8 is statistically significantly different at alpha=0.1, pval=0.0003766910166457331
Col 9 is statistically significantly different at alpha=0.1, pval=6.107119355019835e-06
Col 10 is statistically significantly different at alpha=0.1, pval=0.00020952497886835516
Col 11 is statistically significantly different at alpha=0.1, pval=4.959262069827666e-05
Col 12 is statistically significantly different at alpha=0.1, pval=0.0027874097312130227
Col 13 is statistically significantly different at alpha=0.1, pval=5.769683522368257e-05
Col 14 is statistically significantly different at alpha=0.1, pval=4.4017170314377434e-06
Col 15 is statistically significantly different at alpha=0.1, pval=0.008675900120539794
Col 16 is statistically significantly different at alpha=0.1, pval=1.4436946404095802e-05
Col 17 is statistically significantly different at alpha=0.1, pval=1.8593152364045842e-05
Col 18 is statistically significantly different at alpha=0.1, pval=0.0004470482302397857
Col 19 is statistically significantly different at alpha=0.1, pval=0.007690776662082066
Col 20 is statistically significantly different at alpha=0.1, pval=4.792889666725112e-05
Col 21 is statistically significantly different at alpha=0.1, pval=6.0617917564976154e-05
Col 22 is statistically significantly different at alpha=0.1, pval=0.0008885547380179953
Col 23 is statistically significantly different at alpha=0.1, pval=5.241149460040697e-07
Col 24 is statistically significantly different at alpha=0.1, pval=0.0019199399149937581
Col 25 is statistically significantly different at alpha=0.1, pval=0.003941505721151369
Col 26 is statistically significantly different at alpha=0.1, pval=0.000491454096101353
Col 27 is statistically significantly different at alpha=0.1, pval=0.005132399580083821
Col 28 is statistically significantly different at alpha=0.1, pval=0.00011965214159988053
Col 29 is statistically significantly different at alpha=0.1, pval=0.0002168465463611448
Col 30 is statistically significantly different at alpha=0.1, pval=0.020787537501311022
Col 31 is statistically significantly different at alpha=0.1, pval=0.0003057870556378226
Col 32 is statistically significantly different at alpha=0.1, pval=0.0002916408560382204
Col 33 is statistically significantly different at alpha=0.1, pval=1.967405474582128e-05
Col 34 is statistically significantly different at alpha=0.1, pval=9.161807082151065e-05
Col 35 is statistically significantly different at alpha=0.1, pval=0.0030562476561962395
Col 36 is statistically significantly different at alpha=0.1, pval=0.0007292068310094277
Col 37 is statistically significantly different at alpha=0.1, pval=1.789600810155235e-05
Col 38 is statistically significantly different at alpha=0.1, pval=4.210624687969347e-06
Col 39 is statistically significantly different at alpha=0.1, pval=0.0008168491421538178
Col 40 is statistically significantly different at alpha=0.1, pval=0.0017403317621737756
Col 41 is statistically significantly different at alpha=0.1, pval=0.023606143471545337
Col 42 is statistically significantly different at alpha=0.1, pval=0.0005005412700645854
Col 43 is statistically significantly different at alpha=0.1, pval=4.949293181145365e-06
Col 44 is statistically significantly different at alpha=0.1, pval=0.00021274605525123082
Col 45 is statistically significantly different at alpha=0.1, pval=0.017771246221405985
Col 46 is statistically significantly different at alpha=0.1, pval=0.00010919675021760241
Col 47 is statistically significantly different at alpha=0.1, pval=6.273495492682891e-05
Col 48 is statistically significantly different at alpha=0.1, pval=0.00016320922470123908
Col 49 is statistically significantly different at alpha=0.1, pval=0.000599813913543933
Col 50 is statistically significantly different at alpha=0.1, pval=1.1639949539644961e-05
Col 51 is statistically significantly different at alpha=0.1, pval=0.09013847343649611
Col 52 is statistically significantly different at alpha=0.1, pval=0.0001526294746212217
Col 53 is statistically significantly different at alpha=0.1, pval=0.0006405616395151152
Col 54 is statistically significantly different at alpha=0.1, pval=0.0009388260804748971
Col 55 is statistically significantly different at alpha=0.1, pval=3.16706957773596e-05
Col 56 is statistically significantly different at alpha=0.1, pval=0.0003013459340658237
Col 57 is statistically significantly different at alpha=0.1, pval=0.004225583298869977
Col 58 is statistically significantly different at alpha=0.1, pval=0.0003137034041319562
Col 59 is statistically significantly different at alpha=0.1, pval=1.1916683053512014e-05
Col 60 is statistically significantly different at alpha=0.1, pval=0.0005060258883672027
Col 61 is statistically significantly different at alpha=0.1, pval=0.00022573939046022194
Col 62 is statistically significantly different at alpha=0.1, pval=0.0020261187025610054
Col 63 is statistically significantly different at alpha=0.1, pval=0.0014257565585127376
Col 64 is statistically significantly different at alpha=0.1, pval=0.0003133386918304414
Col 65 is statistically significantly different at alpha=0.1, pval=0.011139543806764119
Col 66 is statistically significantly different at alpha=0.1, pval=0.004514315131873207
Col 67 is statistically significantly different at alpha=0.1, pval=0.0003796902071004571
Col 68 is statistically significantly different at alpha=0.1, pval=0.008037691642780976
Col 69 is statistically significantly different at alpha=0.1, pval=0.011486127881015464
Col 70 is statistically significantly different at alpha=0.1, pval=0.0001567821318471116
Col 71 is statistically significantly different at alpha=0.1, pval=0.009150711574340555
Col 72 is statistically significantly different at alpha=0.1, pval=0.009595353137598002
Col 73 is statistically significantly different at alpha=0.1, pval=0.00017422727039427853
Col 74 is statistically significantly different at alpha=0.1, pval=0.002530736991616102
Col 75 is statistically significantly different at alpha=0.1, pval=0.0007332506495175767
Col 76 is statistically significantly different at alpha=0.1, pval=0.0001865464056907797
Col 77 is statistically significantly different at alpha=0.1, pval=0.00048467453308903314
Col 78 is statistically significantly different at alpha=0.1, pval=0.0007105950482817697
Col 79 is statistically significantly different at alpha=0.1, pval=0.00033591833127466204
Col 80 is statistically significantly different at alpha=0.1, pval=0.0024918590321250066
Col 81 is statistically significantly different at alpha=0.1, pval=0.0014501408166198054
Col 82 is statistically significantly different at alpha=0.1, pval=0.00019560936633415498
Col 83 is statistically significantly different at alpha=0.1, pval=0.00010672897078596301
Col 84 is statistically significantly different at alpha=0.1, pval=0.05738621137738693
Col 85 is statistically significantly different at alpha=0.1, pval=0.0019109426213741398
Col 86 is statistically significantly different at alpha=0.1, pval=0.0004909486952775156
Col 87 is statistically significantly different at alpha=0.1, pval=0.018677311479266955
Col 88 is statistically significantly different at alpha=0.1, pval=5.024200157401828e-05
Col 89 is statistically significantly different at alpha=0.1, pval=5.0118397843248e-05
Col 90 is statistically significantly different at alpha=0.1, pval=6.616208938466641e-05
Col 91 is statistically significantly different at alpha=0.1, pval=0.011144042518902207
Col 92 is statistically significantly different at alpha=0.1, pval=0.0008044162948834246
Col 93 is statistically significantly different at alpha=0.1, pval=7.911137824954975e-06
Col 94 is statistically significantly different at alpha=0.1, pval=0.00018456692331416112
Col 95 is statistically significantly different at alpha=0.1, pval=0.003815588586448002
Col 96 is statistically significantly different at alpha=0.1, pval=0.0036252132645771605
Col 97 is statistically significantly different at alpha=0.1, pval=0.00015363809145232287
Col 98 is statistically significantly different at alpha=0.1, pval=4.344356415873071e-05
Col 99 is statistically significantly different at alpha=0.1, pval=0.00014577579447171257
Total number different was 100, which is 100.0%